@import '../../core/_variables.scss';

#{$button-selector} {
    background-color: white;
    border: none;
    padding: $button-padding $button-padding * 2;
    border-radius: 2px;
    box-shadow: $shadow-1;

    &:hover {
        box-shadow: $shadow-2;
    }

    &:active {
        // padding: $button-padding - 1 ($button-padding * 2) - 1;
        box-shadow: none;
        padding: $button-padding - 1 ($button-padding * 2) - 1;
        margin: 1px;
    }

    &.#{$prefix}primary {
        background-color: $button-color-primary;
        color: white;

        &:hover {
            background-color: $button-color-primary-accent1;
        }
    }

    &#{$danger-selector} {
        background-color: $button-color-danger;
        color: white;

        &:hover { 
            background-color: $button-color-danger-accent1;
        }
    }
    
    &.#{$prefix}secondary {
        background-color: $button-color-secondary;
        color: white;

        &:hover {
            background-color: $button-color-secondary-accent1;
        }
    }

    &#{$success-selector} {
        background-color: $button-color-success;
        color: white;

        &:hover {
            background-color: $button-color-success-accent1;
        }
    }

    @extend .#{$prefix}pointer;
    @extend .#{$prefix}transition;
}

#{$fab-selector} {
    @extend #{$button-selector};
    width: $fab-size;
    height: $fab-size;
    padding:0;
    border-radius: 50%;

    &:active {
        $fab-margin: 1;
        height: $fab-size - $fab-margin;
        width: $fab-size - $fab-margin;
        padding: 0;
        margin: $fab-margin;
    }
}