$theme-fluent-base-light: #F3F3F3;
$theme-fluent-base-dark: #252525;
$theme-fluent-primary-base: #44C444;
$theme-fluent-primary-accent1: #61D661;
$theme-fluent-secondary-base: #3E42BD;
$theme-fluent-secondary-accent1: #696DDF;

$theme-fluent-button-primary: $theme-fluent-primary-base;
$theme-fluent-button-primary-accent1: $theme-fluent-primary-accent1;
$theme-fluent-button-secondary: $theme-fluent-secondary-base;
$theme-fluent-button-secondary-accent1: $theme-fluent-secondary-accent1;