@import '../themes/_dark.scss';
$prefix: 'fl-';

/**
* Gutters
*/
$gutter: 20px;

/*
* Box Shadows
*/
$shadow-1: 0px 2px 3px -1px rgba(0, 0, 0, 0.1);
$shadow-2: 0px 2px 8px -1px rgba(0, 0, 0, 0.2);
$shadow-3: 0px 2px 12px -1px rgba(0, 0, 0, 0.3);

/*
* z-index
*/
$z-body: 1;
$z-navbar: 10;
$z-navbar-nav-item: 11;

/*
* Typography
*/
$font-size-base: 14px !default;
$font-size-title-1: 2.2em;
$font-size-title-2: 2em;
$font-size-title-3: 1.8em;
$font-size-title-4: 1.6em;
$font-size-title-5: 1.4em;
$font-size-title-6: 1.2em;
$font-font-family: 'Open Sans', sans-serif;

$font-color-primary: $theme-fluent-base-dark;
$font-color-secondary: $theme-fluent-base-light;

/*
* Buttons & Input
*/
$button-color-primary: $theme-fluent-button-primary;
$button-color-primary-accent1: $theme-fluent-button-primary-accent1;
$button-color-secondary: $theme-fluent-button-secondary;
$button-color-secondary-accent1: $theme-fluent-button-secondary-accent1;
$button-color-danger: $theme-fluent-button-danger;
$button-color-danger-accent1: $theme-fluent-button-danger-accent1;
$button-color-success: $theme-fluent-button-success;
$button-color-success-accent1: $theme-fluent-button-success-accent1;
$button-padding: 10px;

$fab-size: 40px;

/*
* Navigation
*/
$nav-color-background-primary: $theme-fluent-base-dark;
$nav-color-foreground-primary: $theme-fluent-base-light;

/*
* Selectors
*/
$button-selector: 'button, .' + $prefix + 'button';
$fab-selector: '.' + $prefix + 'button-fab, .' + $prefix + 'fab';
$danger-selector: '.' + $prefix + 'danger, .' + $prefix + 'error';
$success-selector: '.' + $prefix + 'success';