@import '_variables.scss';

$flex-directions: row, row-reverse, column, column-reverse;
$flex-justify: start, end, center, space-between, space-around, space-evenly, stretch;
$flex-alignment: start, end, center, space-between, space-around, space-evenly, stretch;

@mixin FlexDirection($name) {
    .#{$prefix}flex-#{$name} {
        flex-direction: $name;
    }
}
@mixin FlexAlignments() {
    @each $justify in $flex-justify {
        @each $align in $flex-alignment {
            @if $align == $justify {
                .#{$prefix}flex-#{$justify} {
                    @extend .#{$prefix}flex;
                    justify-content: $justify;
                    align-items: $align;
                }
            } @else {
                .#{$prefix}flex-#{$justify}-#{$align} {
                    @extend .#{$prefix}flex;
                    justify-content: $justify;
                    align-items: $align;
                }
            }
        }
    }
}

// Convert to sass
// .#{$prefix}flex-start-start {
//     justify-content: flex-start;
//     align-items: flex-start;
// }
// .#{$prefix}flex-start-end {
//     justify-content: flex-start;
//     align-items: flex-end;
// }
// .#{$prefix}flex-end-end {
//     justify-content: flex-end;
//     align-items: flex-end;
// }
.#{$prefix}flex-start-center {
    justify-content: flex-start;
    align-items: center;
}
// .#{$prefix}flex-center-center {
//     justify-content: center;
//     align-items: center;
// }


body, div, span, p {
    box-sizing: border-box;
}

.#{$prefix}flex {
    display: flex;
}

.#{$prefix}padding {
    padding: $gutter;
}

.#{$prefix}margin {
    margin: $gutter;
}

@mixin SetupLayout() {
    @each $flexDir in $flex-directions {
        @include FlexDirection(($flexDir));
    }

    @include FlexAlignments();
}
@include SetupLayout();